services:
  redis:
    image: redis:7-alpine
    network_mode: host
    restart: always
    volumes:
      - redis_data:/data

  livekit:
    image: livekit/livekit-server:latest
    network_mode: host
    restart: always
    depends_on:
      - redis
    environment:
      # Ключи передаем через переменные, чтобы не ломать синтаксис YAML
      LIVEKIT_KEYS: "APImmvWFZNCYdk6: uHPsJbenS3sLS4X8rZHqph61bT5QlTWnHnTNsR2r92a"
      LIVEKIT_REDIS_ADDRESS: "localhost:6379"
      LIVEKIT_DEV: "true"

  sip:
    image: livekit/sip:latest
    network_mode: host
    restart: always
    environment:
      SIP_CONFIG_BODY: |
        api_key: 'APImmvWFZNCYdk6'
        api_secret: 'uHPsJbenS3sLS4X8rZHqph61bT5QlTWnHnTNsR2r92a'
        ws_url: 'ws://localhost:7880'
        redis:
          address: 'localhost:6379'
        sip_port: 5060
        udp_port: 5060
        rtp_port_range: 10000-20000
        logging:
          level: info

volumes:
  redis_data:
